@media (prefers-color-scheme: light) {
  :root {
    --background: white;
    --text: #222222;
    --link: #116aff;
    --hover: #116affbb;
    --secondary-text: #747474;
    --header-gradient-start: #f7f7f5;
    --header-gradient-end: #dcc5ff;
    --body-gradient-start: #dcc5ff40;
    --body-gradient-end: #f7f7f5aa;
  }
}
