@font-face {
  font-family: SFProRounded;
  src: url(../fonts/SF-Pro-Rounded-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: SFProRounded;
  src: url(../fonts/SF-Pro-Rounded-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: SFProRounded;
  src: url(../fonts/SF-Pro-Rounded-Regular.otf);
  font-weight: 400;
}

.oval-container {
    position: absolute;
    width: 100%;
    height: calc(100% + env(safe-area-inset-top));
    overflow-x: hidden;
    margin-top: -env(safe-area-inset-top);
}

.oval {
    width: 240%;
    padding-bottom: 120%;
    left: -50%;
    margin-top: calc(-120% + 320px);
    background-image: linear-gradient(to right, #BB26D7, #5E23C1);
    border-radius: 50%;
    position: absolute;
}

@media (min-width: 680px) {
    .oval {
        margin-top: calc(-120% + 360px);
    }
}

@media (min-width: 980px) {
    .oval {
        margin-top: calc(-120% + 410px);
    }
}

.icon {
    border: 5px solid #555;
}

.phone {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 320px;
    height: auto;
}

.phone-header {
    font-weight: 500;
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 4rem;
    margin-top: 6rem;
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h4 {
    font-weight: 500;
    opacity: 0.9;
}

.faq-img {
    max-width: 100%;
    width: 393px;
    margin-bottom: 20px;
}

.footer-link {
    float: left;
    margin-right: 20px;
}
