<div class="container">
    <div class="row" style="margin-top: max(10%, 60px); margin-bottom: max(5%, 60px);">
      <div class="eight columns">
        <p class="footer-link"><a href="/privacy/">Privacy Policy</a></p>
        <p class="footer-link"><a href="/terms/">Terms</a></p>
        <p class="footer-link"><a href="/faq/">FAQ</a></p>
        <p class="footer-link"><a href="/giving/">Giving</a></p>
        <p class="footer-link"><a href="/press/">Press Kit</a></p>
        <p class="footer-link"><a rel="me" href="https://indieapps.space/@paku" target="_blank">Mastodon</a></p>
        <p class="footer-link"><a href="mailto:support@paku.app">Contact</a></p>
      </div>
      <div class="four columns">
        <p class="made-with">Made with <span style="color: red;">♥</span> in Portland</p>
      </div>
    </div>
  </div>
